@import "./reset.css";

@font-face {
  font-family: 'Pixel Code';
  src: url('/PixelCode.ttf') format('truetype');
}

:root {
  --main-bg-color: #000;
  --second-bg-color: #003300;
  --bg-error-color: #330000;
  --main-fg-color: #00ff00;
  --main-fg-error-color: #ff0000;
}

body {
  background: var(--main-bg-color);
  color: var(--main-fg-color);
  font-family: 'Pixel Code', Courier, monospace;
  margin: 0;
  scrollbar-color: var(--main-fg-color) var(--second-bg-color);
}

